

.hello1 {
    width: 60%;
    display: flex;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    margin-top: 80px;
    background-color: #ffffff;
  }

  /* .form {
    display: flex;
    flex-direction: row;
    max-width: 300px;
    margin: 0 auto;
  } */

  #b1 {
    float: right;
    margin: 10px;
    background-color:#4caf50;
  }
#img1 {
    margin-top: 13px;
    margin-left: 13px;
    margin-right: 13px;
    width: 30px;
    height: 30px;
}